services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-course-platform
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=odonto_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: